<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSCameraUsageDescription</key>
	<string>We need access to the camera to scan for products and reply to notifications.</string>
	<key>NFCReaderUsageDescription</key>
	<string>We need access to NFC to scan for products.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>We will need to make use of your location to present relevant information about offers around you.</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>We will need to make use of your location to present relevant information about offers around you.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>We will need to make use of your location to present relevant information about offers around you.</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>location</string>
		<string>remote-notification</string>
	</array>
</dict>
</plist>
